<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% load staticfiles %}
		<!-- bootstrap -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
		<!-- fontawesome -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		{% block script %}
		{% endblock %}
		<!-- base CSS -->
 		<link rel="icon" href="../../static/image/icon.png"/> <!-- website icon -->
		<link href="{% static 'virtualTravel/base.css' %}" rel="stylesheet" type="text/css">
		<title> {% block title %} Virtual Travel {% endblock %} </title>
	</head>

	<body>
		{% block nav-bar %}
			<div class="nav-bar">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="{% url 'homepage' %}"><i class="fas fa-globe-americas"></i> Virtual Travel</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
					 aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item">
								<a class="nav-link" id="id_nav_city_store" href="{% url 'store' %}"><i class="fas fa-store"></i> City Store</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="id_nav_user_upload" href="{% url 'user_upload' %}"><i class="fas fa-upload"></i> User Upload</a>
							</li>

						</ul>

            			<ul class="navbar-nav">
            				<li><button class="nav-link" id="id_help_button" data-toggle="modal" data-target="#instruction_popup"><i class="fas fa-question-circle"></i></li>
            				</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							 	<i class="fas fa-user-alt"></i>  {{user.username}}
								</a>
								<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
									<a class="dropdown-item" href="#">Gold: {{user.profile.gold}}</a>
							  		<a class="dropdown-item" href="#">Email: {{user.email}}</a>
							  		<a class="dropdown-item" href="#">Last Logged In: {{user.last_login}}</a>
								</div>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="id_nav_city_store" href="{% url 'profile' %}"><i class="fas fa-id-card"></i> Profile</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="id_nav_city_store" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
							</li>	
						</ul>
					</div>
				</nav>
			</div>
		{% endblock %}

		<div class="modal fade" id="instruction_popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="false">
            <div class="modal-dialog modal-dialog-centered" style="max-width: 525px" role="document">
              <div class="modal-content" id="introcude">
                <div class="modal-header">
                	<h2 class="modal-title">Instructions <i class="fas fa-question-circle"></i></h2>
                	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    	<span aria-hidden="true">&times;</span>
                  	</button>
                </div>
                <div class="modal-body">
                	<p><i class="fas fa-globe-americas"></i> <b>Virtual Travel</b> takes you to a virtual travel !</p>
                	<h4>How to start my travel?</h4>
                	<p>Select one city as your depature, one city as your desination. 
                		<br>Then the system will generate a travel route for you! Intermediate cities are randomly selected. <a href="{% url 'homepage' %}"><b>Start a Travel </b></a>!
                	</p>
                	<h4>Why do I only have a few cities to travel?</h4>
                	<p>Once you have enough gold, you can always go to <a href="{% url 'store' %}"><b>City Store</b></a> page to unlock more cities.</p>
                	<h4>How to earn gold?</h4>
                	<p>1. Take Quiz.
                		<br>2. Contribute by uploading quiz or site in <a href="{% url 'user_upload' %}"><b>User Upload</b></a> page.
                	</p>
                	<h4>How to check out my account info?</h4>
                	<p>Go to <a href="{% url 'profile' %}"><b>Profile</b></a> page. It has everything you want to know.</p> 
                	<h4>What is my City Collection?</h4>
                	<p>City Collection is the collection of cities you have traveled to. Collect more cities now by <a href="{% url 'homepage' %}"><b>Start a Travel </b></a>!</p>
                	<h4>I got good ideas. How to contact you?</h4>
                	<p>Welcome! Please email us: <a href="mailto: xxx@andrew.cmu.edu"><b>xxx@andrew.cmu.edu</b></a>.</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
              </div>
        	</div>
   		 </div>

		<div class="content">
			{% block content %}
			{% endblock %}
		</div>
		{% block map %}
        {% endblock %}
		<!-- canvas effect -->
		{% block canvas %}
			<canvas id="canvas"></canvas>
			<script src="{% static 'virtualTravel/canvas.js' %}" type="text/javascript"></script>
		{% endblock %}
	</body>
</html>
