{% extends "virtualTravel/base.html" %}
{% block script %}
<style>
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>
<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css"/>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
{% load staticfiles %}
<script src="{% static 'virtualTravel/cityMap.js' %}" type="text/javascript"></script>
{% endblock %}

{% block map %}
    <div id="city_map"></div>
    <div id="pano"></div>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFBOGeajHk9pGoEpyDMmgsTZZHQiHiySE&callback=initMap">
    </script>
{% endblock %}
</html>