{% extends "virtualTravel/base.html" %}

{% block content %}
<div class="row">
  <div class="col-2">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action {% if not site_message %}active {% endif %}"id="list-quiz-list" data-toggle="list" href="#list-quiz" role="tab" aria-controls="quiz">Quiz Upload</a>
      <a class="list-group-item list-group-item-action {% if site_message %}active {% endif %}"id="list-site-list" data-toggle="list" href="#list-site" role="tab" aria-controls="site">City Site Upload</a>
    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade {% if not site_message %}show active {% endif %}jumbotron" id="list-quiz" role="tabpanel" aria-labelledby="list-quiz-list" style="background-color: #e9ecef;color: black;padding: 1rem 2rem;width: 600px">
            <h2 class="lead"><b>Upload your Quiz</b></h2>
            <p class="lead">Do you want to upload a quiz to challenge other players?</p>
            <hr>
            <form method="post" action="{% url 'user_upload' %}">
                <table>
                    <tr>
                        <td>City: 
                            <select name="quiz_city_name" required id="id_quiz_city_name" class="form-control" cols="40">
                                <option selected>Choose...</option>
                                {% for city in city_pool %}
                                    <option value="{{city.name}}">{{city.name}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td class="error">
                            {% for error in field.errors %} {{error}} {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>Question: 
                            <textarea name="quiz_text" required id="id_quiz_text" placeholder="Quiz Description, e.g. 1+1?" class="form-control" cols="40"></textarea><br>
                        </td>
                        <td class="error">
                            {% for error in field.errors %} {{error}} {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" name="quiz_option_1" required id="id_quiz_option_1" placeholder="Option 1" class="form-control" cols="40">
                        </td>
                        <td class="error">
                            {% for error in field.errors %} {{error}} {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" name="quiz_option_2" required id="id_quiz_option_2" placeholder="Option 2" class="form-control" cols="40">
                        </td>
                        <td class="error">
                            {% for error in field.errors %} {{error}} {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" name="quiz_option_3" required id="id_quiz_option_3" placeholder="Option 3" class="form-control" cols="40">
                        </td>
                        <td class="error">
                            {% for error in field.errors %} {{error}} {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" name="quiz_option_4" required id="id_quiz_option_4" placeholder="Option 4" class="form-control" cols="40">
                        </td>
                        <td class="error">
                            {% for error in field.errors %} {{error}} {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>Answer: 
                            <select name="quiz_answer" required id="id_quiz_answer" class="form-control" cols="40">
                                <option selected>Choose...</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </td>
                        <td class="error">
                            {% for error in field.errors %} {{error}} {% endfor %}
                        </td>
                    </tr>
                </table>
                {% csrf_token %}
                <hr>
                <div><button id="id_user_quiz_upload_button" type="submit" class="btn btn-primary">Upload</button></div>
            </form>

            {% for error in quiz_form.non_field_errors %}
                <p class="errorlist">
                    {{ error }}
                </p>
            {% endfor %}

            {% if quiz_message %}
              <p class="errorlist">
                <div class="alert alert-{% if success %}success{% else %}danger{% endif %}" role="alert"><button type="button" class="close" data-dismiss="alert">&times;</button>{{quiz_message}}</div>
              </p>
            {% endif %}
        </div>
        <div class="tab-pane fade {% if site_message %}show active {% endif %}jumbotron" id="list-site" role="tabpanel" aria-labelledby="list-site-list" style="background-color: #e9ecef;color: black;padding: 1rem 2rem;width: 600px">    
                <h2 class="lead"><b>Upload your Site</b></h2>
                <p class="lead">Do you want to share a site into a city that you have?</p>
                <hr>
                <form enctype="multipart/form-data" action="{% url 'user_upload' %}" method="post">
                    <table>
                        <tr>
                            <td>Site:
                                <input type="text" name="name" required id="id_name" placeholder="Site Name" class="form-control" cols="40"><br>
                            </td>
                            <td class="error">
                                {% for error in field.errors %} {{error}} {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <textarea name="description" required id="id_description" placeholder="A Short Description of the Site" class="form-control" cols="40" rows="3"></textarea>
                            </td>
                            <td class="error">
                                {% for error in field.errors %} {{error}} {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td>Picture:
                                <input type="text" name="site_picture_url" required id="id_site_picture_url" placeholder="Picture URL" class="form-control" cols="40">
                            </td>
                            <td class="error">
                                {% for error in field.errors %} {{error}} {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td>Site City:
                                <select name="city_name" required id="id_city_name" class="form-control" cols="40">
                                    <option selected>Choose:</option>
                                    {% for city in city_pool %}
                                        <option value="{{city.name}}">{{city.name}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td class="error">
                                {% for error in field.errors %} {{error}} {% endfor %}
                            </td>
                        </tr>
                        {% csrf_token %}
                    </table>
                    <hr><button id="id_user_site_upload_button" type="submit" class="btn btn-primary">Upload</button>
                    {% if site_message %}
                        <p class="errorlist">
                            <div class="alert alert-{% if success %}success{% else %}danger{% endif %}" role="alert"><button type="button" class="close" data-dismiss="alert">&times;</button>{{site_message}}</div>
                        </p>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
  </div>
</div>

    </div>
</div>

{% if current_page %}
<script type="text/javascript"> 
    window.onload = function (){document.getElementById("{{current_page}}").click();}
</script>
{% endif %}

{% endblock %}
