.content {
    font-family: sans-serif;
    font-size: large;
    padding: 10px;
}

 .li_style {
    padding: 25px 50px;
    list-style-type:none;
}

.error, .errorlist {
    color:red;
}

.city-img {
    width:100%;
    height:250px;
}

.pagination {
    width: 50%;
    text-align: center;
}

.icon {
    width:10px;
    height:10px;
}

.login_style {
    position: absolute;
    left: 50%;
    top: 40%;
    width:400px;
    height:200px;
    margin-left:-100px;
    margin-top:-50px;

}

.login_inner {
    left: 50%;
    
}

.btn1 {
    float: left;
    font-size: 15px;
    padding: 7px 14px;
    border-bottom: 4px solid #428bca;
}

.btn2 {
    float: right;
    font-size: 15px;
    padding: 7px 14px;
    border-bottom: 4px solid #428bca;
}

.background{
    background: url(image/background3.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: roboto, sans-serif; 
}

button,.btn,
button,.btn:hover,
button,.btn:focus,
button,.btn:active {
    background-color: rgb(73, 46, 65);
    border-color: rgb(73, 46, 65);
    color: white;
    outline: none;
    box-shadow: none;
}

input {
    font-size: x-large;
}


canvas {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
    top: 0;
    left: 0;
    z-index:-1; 
}

#map {
    margin: auto;
    width: 100%;
    height: 450px;
}

#warning {
    width: 100%;
    height:50px;
    text-align: center;
}

.article {
    /*margin: auto;*/
    width: 800px;
}

.image {
    display: block;
    width: 100%;
    opacity: 1;
    -webkit-animation: opacity 6s;
}

@-webkit-keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.image:hover {
    transform: scale(1.1);
    transition: 1s;
}

.card {
    width: 280px;
    border-width: 2px;
    border-radius: 0.5rem;
}

.main_content_box{
/*    display: inline-block;
    width: = 33.3%;
*/
    width: 100%;
    margin: 20px 0px 0px 0px;
/*    display: block;*/
}
.top_5_container{
  /*  width: 45%;
    margin: 0px 0px 0px 20px;
    vertical-align: top;*/
/*    display: inline-block;*/
}

.top_5 {
/*    display: inline-block;*/
/*    width: = 100%;*/
    margin: 20px 0px 20px 0px;

}

.restaurant_info{
  height: 360px;
  width: 30%;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid black;
  display: inline-block;
  margin-left: 1%;
  margin-right: 1%;
}
.restaurant_info_spacer{
    margin-top: 10px;
}
.restaurant_img_container{
    height: 200px;
    width: 100%;
  /*  width: 200px;
    align-content: right;
    overflow: hidden;
    display: inline-block;*/
}
.restaurant_img{
    height: 300px;
    margin-left: 40px;
    border-radius: 5px;
}

.category_list_container{
    margin: 20px 0px 0px 20px;
    display: block;
}
.category_list{
    vertical-align: top;
    display: inline-block;
}
.categories li{
    margin: 10px 20px 10px 20px;
    list-style-type: none;
}
.location_input_container{
    width: 300px;
    margin: auto;
/*    margin: 0px 0px 0px 375px;*/
    display: block;
}

.food_container {
/*    text-align: center;*/
/*    width: 80%;*/
    margin-left: 10%
    margin-right:10%;
/*    display: flex;*/
     align-items: center;
}

.food_preference{
    text-align: center;
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: .1rem solid #ccc;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    user-select: text;
    cursor: auto;
    outline: 0;
    padding: .7em;
    width: 100%;
}
.submit_preference {
    display: flex;
    align-items: center;
}
.submit_categories{
    width: : 390px;
/*    width: 300px;*/
/*    width: 100%;*/
/*    text-align: center;*/
    margin-top: 20px;
    margin-bottom: 20px;
/*    margin-left:50%;
    margin-right:50%;*/
/*    font-weight: Bold; */
    color: white;
    background-color: #492e41;
/*    background-color: #563D7C;*/
    border: none;
    border-radius: 10px;
}

.cuisineRibbon-icon-item{
    line-height:1.8
}

.roundDesign .cuisineRibbon-cuisine-image-container {
    opacity: .9;
    border-radius: 119px;
}

/*.u-stack-y-2 {
    display: inline;
}*/
.one_food {
    display: inline;
}
.u-rounded {
    border-radius: 50%;
}

.cuisineRibbon-container {
    padding: 8px 16px;
    height: 143px;
    width: 100%;
}

.one_food_content {
    width:100%;
/*    padding: 10px;*/
    overflow: hidden;
}

.img-wrap {
    padding: 5px;
    background-color: #fff;
/*    border: 1px solid #ccc;*/
}

.img-box {
    height: 130px;
    overflow: hidden;
}

.carousel-control-prev {
    width: 7.5%;
}

.one_food_item{
    list-style: none;
    display: inline-block;
    width: 16%;
    text-align: center;
    overflow: hidden;
    vertical-align: bottom;
}

#bg{
    display: inline-block;
    width: 60px;
    height: 16px;
    background: url("image/star-grey.png");
}
.over{
    height:16px;
    background:url("image/star-org.png") no-repeat;
}

.stars-bg{
    position: relative;
    display: inline-block;
    height: 19px;
    width: 157px;
    background: url("image/star-grey.png") 0 0;
}
.star-active{
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    height: 100%;
    background: url("image/star-org.png") 0 -24px;
}

.cuisineRibbon-cuisine-image:focus {
    outline: none;
}

.grow: hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    color: white;
    background-color: rgb(73, 46, 65);
    border-color: rgb(73, 46, 65);
}

.jumbotron {
    background-color: rgb(73, 46, 65) ; color: white;
}

.goodbye {
    font: 700 50px "Comic Sans MS";
    color: rgb(73, 46, 65);
    text-shadow: 0 0 20px #fdec84,
            10px -10px 30px #ffae35,
            20px -20px 40px #ec760c;
    -webkit-animation: opacity 8s;
}

@-webkit-keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.paragraph {
    text-align: justify;
    color: black;
    -webkit-animation: hue 10s;
}

@-webkit-keyframes hue {
    from {
        color: white;
    }
    to {
        color: black;
    }
}

/*body{
    background: url(../images/background2.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: roboto, sans-serif; 
}*/

.user-img img{
    width: 100px;
    height: 100px;
}

.main-section {
    margin : 0 auto;
    margin-top: 35%;
    padding: 0; 
}

.modal-content {
   /* background: white;*/
    background-color: #3b4652;
    opacity: 0.80;
    padding: 0 18px;
    box-shadow: 0 0 3px #848484;
}

#quiz_base {
    background: white;
    opacity: 1;
}

#quiz_result {
    background: white;
    opacity: 1;
}

#introcude {
     background: white;
     opacity: 1;
}
.modal-content-introduce {
    background: white;
    
/*    opacity: 0.80;*/
    padding: 0 18px;
}

.user-img {
    margin-top: -50px;
    margin-bottom: 35px;
}

.form-group-input {
    margin-bottom: 25px;
}

.form-group-input input {
    height: 42px;
    border-radius: 5px;
    border: 0px;
    font-size: 18px;
    padding-left: 54px;  
}


#id_username {
    height: 42px;
    border-radius: 5px;
    border: 0px;
    font-size: 18px;
    padding-left: 54px;  
}

.fa-lock {
    position: absolute;
    padding-top: 8px;
    font-size: 22px;
    left: 28px;
    
}
.fa-envelope-open {
    position: absolute;
    padding-top: 8px;
    font-size: 22px;
    left: 28px;    
}
.fa-user {
    position: absolute;
    padding-top: 8px;
    font-size: 22px;
    left: 28px;
}

#id_login_button {
    border-color: #428bca;
    background: #428bca;
}

#id_sign_up {
    border-color: #428bca;
    background: #428bca;
}

button{
    margin: 5px 0 25px; 
}

.btn1 {
    float: left;
    font-size: 15px;
    padding: 7px 14px;
    border-bottom: 4px solid #428bca;
}

.btn2 {
    float: right;
    font-size: 15px;
    padding: 7px 14px;
    border-bottom: 4px solid #428bca;
}


.area {
    color: #fff;
}

#id_help_button {
    border-width: 0;
    background-color: transparent;
}
/*button:focus {outline:0;}*/